.navHamburgerWarp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 35px;

  .hamburgerLine {
    display: block;
    width: 23px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    background: #000;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.showClose {
    .hamburgerLine {
      position: absolute;

      &:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.leftMenuDrawerWarp {
  :global {
    .ant-drawer-content {
      background: var(--pietra-yellow);

      .ant-drawer-header {
        border-bottom: none;
        padding: 120px 2rem 30px;

        .ant-drawer-title {
          text-align: center;
          font-size: 22px;
          color: #141414;
          font-family: 'Attila-Semibold';
        }

        .ant-drawer-close {
          margin-inline-end: 0;
        }

        .anticon-close {
          font-size: 22px;
          color: #141414;
        }
      }

      .ant-drawer-body {
        padding: 0;

        :global {
          .mobile-left-menu-item {
            flex: 1;
            padding: 0;
            margin-bottom: 30px;
            width: 60%;

            > span {
              width: 100%;
              font-family: Labil-Regular;
              font-size: 15px;
            }

            &:last-child {
              position: relative;
              margin-top: 30px;
              &:before {
                content: '';
                position: absolute;
                border-top: 1px solid #000000;
                transform: scaleY(0.5);
                left: 0;
                top: -30px;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  .mobileNavMenuWarp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
  }
}
