.marketplaceHero {
  display: grid;
  background: var(--pietra-yellow);
  border: 2px solid #000;
  border-top: none;
  min-height: 412px;
  margin: 0;

  > .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.heroImageSection {
      flex-direction: row;
      justify-content: flex-end;

      > .heroImagePlaceholder {
        .border-radius('small') {
        }

        width: 100%;
        height: 250px;
        background: #f4f4f5;
      }

      > .heroImageLink {
        > .heroImage {
          width: 100%;
          height: auto;
        }
      }
    }

    > .heroTitle {
      font-family: Attila-Bold;
      line-height: 1.2;
      margin-bottom: 5px;
    }

    > .heroSubtitle {
      line-height: 1.2;
      margin: 0 0 30px;
      width: 100%;
      max-width: 700px;
    }

    > .heroSearchTerms {
      margin-top: 30px;

      > .heroSearchTermPlaceholder {
        margin: 0 15px 15px 0;
        border: 2px solid #fff;
        background: #f4f4f5;
        height: 35px;
      }

      > .heroSearchTerm {
        border-radius: 10px;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        line-height: 1;
        padding: 8px 15px;
        border: 2px solid #fff;
        margin: 0 15px 15px 0;
        color: #000;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .marketplaceHero {
    > .heroSection {
      padding: 2rem 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}

.skeletonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 601px) {
  .marketplaceHero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5rem 1rem;

    > .heroSection {
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      > .heroTitle {
        font-size: 35px;
      }

      > .heroSubtitle {
        font-size: 18px;
        max-width: 550px;
      }

      > .heroSearchTerms {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        > .heroSearchTerm {
          font-size: 12px;
        }
      }
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: flex;
    }
  }
}

@media (min-width: 980px) {
  .marketplaceHero {
    padding: 5rem 3rem;

    > .heroSection {
      > .heroTitle {
        font-size: 40px;
      }

      > .heroSubtitle {
        max-width: 600px;
      }

      > .heroSearchTerms {
        > .heroSearchTerm {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1120px) {
  .marketplaceHero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    background: var(--pietra-yellow);
    border: 2px solid #000;
    margin-bottom: 0;

    > .heroSection {
      align-items: flex-start;
      text-align: left;

      > .heroTitle {
        font-size: 40px;
      }

      > .heroSubtitle {
        max-width: 600px;
      }

      > .heroSearchTerms {
        justify-content: flex-start;
      }
    }
  }
}

@media (min-width: 1300px) {
  .marketplaceHero {
    > .heroSection {
      > .heroTitle {
        font-size: 45px;
      }

      > .heroSubtitle {
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .marketplaceHero {
    grid-template-columns: 60% 40%;

    > .heroSection {
      > .heroTitle {
        font-size: 50px;
      }

      > .heroSubtitle {
        font-size: 20px;
      }
    }
  }
}
