.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;

  .header {
  }

  .main {
    flex: 1 1;
  }

  .footer {
    position: relative;
    width: 100%;
  }
}
